[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

[scripts]
test = "robot -d ./results tests/DesafioPractice.robot"

[requires]
python_version = "3.8"
